body{ 
    background-color: lightsteelblue}
.navbar{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 40px;
    background-color: brown;
    border-radius: 10px;
}



.link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.li1-navbar{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
    background-color: wheat;
}



.li1-navbar:hover{
    background-color: white;
    transition: .2s ease-in-out; 
}

.body1-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}

.h1-contain{
    background-color: wheat;
    width: 700px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.spanduk{
    box-shadow: 6px 9px 62px 5px rgba(0,0,0,0.74);
-webkit-box-shadow: 6px 9px 62px 5px rgba(0,0,0,0.74);
-moz-box-shadow: 6px 9px 62px 5px rgba(0,0,0,0.74);
}



.body2-contain{
     display: flex;
    justify-content: center;
    align-items: center;

}
.h2-contain{
    margin: 10px;
    background-color: wheat;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;;
    
}

.insidetable1{
    background-color: rgb(62, 62, 226);
    text-align: center;
    box-shadow: 6px 9px 62px 5px rgba(0,0,0,0.74);
-webkit-box-shadow: 6px 9px 62px 5px rgba(0,0,0,0.74);
-moz-box-shadow: 6px 9px 62px 5px rgba(0,0,0,0.74);
}


.insidetable2{ 
    background-color: white;
    text-align: center;
    box-shadow: 6px 9px 62px 5px rgba(0,0,0,0.74);
-webkit-box-shadow: 6px 9px 62px 5px rgba(0,0,0,0.74);
-moz-box-shadow: 6px 9px 62px 5px rgba(0,0,0,0.74);
}

.jumlah{
    font-weight: bold;
}

.button{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

.insidebutton{
    background-color: brown;
    width: 100px;
    font-weight: bolder;
}



.aboutout{
display: flex;
justify-content: center;
align-content: center;
background-color: brown;
padding: 10px;
gap: 40px;
border-radius: 10px;
}

.aboutus{background-color: wheat;
display: flex;
justify-items: center;
align-content: center;
border-radius: 10px;
color: black;
text-decoration: none;
padding: 10px;
 

}

.aboutus:hover{
    background-color: white;
    align-items: center;
    justify-items: center;
    display: flex;
    padding: 10px;
   
}
   